*{
    margin:0;
    padding: 0;
}

body{
    background-color:#000a1a;
    color:white; 
    transition: 2s;
}
span{
font-size: 28px;
color:#ffb81c;
}
.logo{
margin-top:2rem;
margin-bottom: 20px;
font-size:20px;
font-family: Arial, Helvetica, sans-serif;
display:flex;
}
.logo p{
flex:5;
}
/*Menu*/
.mobile-menu{
    display:none; 
}
.menu-expand{
    display:none; 
}
.menu{
    display: flex;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu a{
    text-decoration:none;
    color:white;
    transition: .5s;
}
.menu a:hover{
    color:#ffb81c;
}
.menu li{
  margin-left: 1rem;
}
/*Toggle*/

.dark{
border:1px solid red;
cursor:pointer;
width:60px;
height:30px;
color:white;
background-color: rgb(70, 69, 69);
border:3px solid grey;
margin: auto;
padding:2px;
border-radius: 50%;
}
.light{
    border:1px solid red;
    cursor:pointer;
    width:60px;
    height:30px;
    color:yellow;
    background-color: white;
    border:3px solid grey;
    margin: auto;
    padding:2px;
    border-radius: 50%;
    display:none;
    }
.container{
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.form-field{
    margin:20px; 
}
#form-2{
    display:none;
}
.error, .error-two, .error-three{
    width:50%;
    background-color: red;
    color:white;
    text-align:center;
}
label{
    font-size: 17px;
}
.input{
   margin-top:10px;
   font-size:25px;
    width:26rem;
    border:3px solid #ffb81c;
}
.btn{
  border-radius:.4rem;
  outline:none;
  border:none;
  background-color:#ffb81c;
  color:rgb(41, 40, 40);
  padding:15px 20px;
  font-size: 18px;
  transition: .6s;
  cursor: pointer;
}
.btn:hover{
    color:#ffb81c;
    background-color:rgb(41, 40, 40);
}

.result{
    margin:30px;
    display:none;
}
.result li{
    margin-top:1rem;
    font-size:25px;
}
.text{
    color:grey;
    cursor:pointer;
}
/*Partners*/
.partner{
    display:flex;
}
.first-element{
    flex:1;
}
.input-container{
    flex:1; 
}
.ogov, .cgov, .oop, .cop{
    border:1px solid #ffb81c;
    margin:10px;
    padding:20px;
}
.instructions{
    width:300px;
    font-size:14px;
    color:grey;
}
.hello{
    margin-top:150px;
    font-size:14px;
    color:grey;
}
.hello a{
    color:grey;  
}
.linkk{
    margin-top: 60px;
}
.link{
    margin-top:1rem;
    cursor: pointer;
}
@media(max-width:768px){
  .form-field{
    margin:auto;
  }
  .btn{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .input{
    font-size:18px;
    width:300px;
  }
  /**/
  .partner{
    display:block;
  }
  .ogov, .cgov, .oop, .cop{
    padding:10px;
}
/*Menu*/
.menu{
    display:none;
}

.mobile-menu{
    display:block;
    margin-top: 1rem;
    font-size:2rem;
}
.menu-expand{
    height:50%;
    width:10rem;
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px;
    background-color: #000;
    opacity: 0.8;
    padding:1.3rem;
    transition:0.5s;
}
.menu-expand a{
    font-size:1.3rem;
    color:white;
    display:block;
    transition:0.5s;
    cursor: pointer;
    text-decoration: none;
    margin-top:1rem;
}
.menu-expand ul{
    list-style: none;
}
.mobile-menu a:hover,
.mobile-menu a:focus{
        color:darkgrey; 
        background-color: #000;  
        color: #ffb81c;
}
#menu-open{
    font-size: 2rem;
    cursor:pointer;
    display: block;
    margin-right: 1rem;
    color:white;

}
#menu-close{
    float: right;
    font-size: 3rem;
    cursor:pointer;
}
#main{
    transition: 0.5s;  
}
}

