
body{
    background-color:#000a1a;
    color:white; 
    transition: 2s;
}
span{
font-size: 28px;
color:#ffb81c;
}

.logo{
margin-bottom: 20px;
font-size:20px;
font-family: Arial, Helvetica, sans-serif;
display:flex;
}
.logo p{
flex:5;
}
/*Toggle*/

.dark{
border:1px solid red;
cursor:pointer;
width:60px;
height:30px;
color:white;
background-color: rgb(70, 69, 69);
border:3px solid grey;
margin: auto;
padding:2px;
border-radius: 50%;
}
.light{
    border:1px solid red;
    cursor:pointer;
    width:60px;
    height:30px;
    color:yellow;
    background-color: white;
    border:3px solid grey;
    margin: auto;
    padding:2px;
    border-radius: 50%;
    display:none;
    }
.container{
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.form-field{
    margin:20px; 
}
.error, .error-two, .error-three{
    width:50%;
    background-color: red;
    color:white;
    text-align:center;
}
label{
    font-size: 17px;
}
.input{
   margin-top:10px;
   font-size:25px;
    width:26rem;
    border:3px solid #ffb81c;
}

.btn{
    border-radius:.4rem;
  outline:none;
  border:none;
  background-color:#ffb81c;
  color:rgb(41, 40, 40);
  padding:15px 20px;
  font-size: 18px;
  transition: .6s;
  cursor: pointer;
}
.btn:hover{
    color:#ffb81c;
    background-color:rgb(41, 40, 40);
}
.results{
    display: flex;
    margin:30px;
}
.og, .cg, .oo, .co{
    border:1px solid #ffb81c;
    margin:10px;
    padding:20px;
    transition: 1s;
}
.text{
    color:grey;
    cursor:pointer;
}
/*Partners*/
.partner{
    display:flex;
}
.first-element{
    flex:1;
}
.input-container{
    flex:1; 
}
.result{
    display:block;
    margin-right:100px ;
}
.ogov, .cgov, .oop, .cop{
    border:1px solid #ffb81c;
    margin:10px;
    padding:20px;
}
.instructions{
    width:300px;
    font-size:14px;
    color:grey;
}
.hello{
    margin-top:150px;
    font-size:14px;
    color:grey;
}
.hello a{
    color:grey;  
}
.link{
    margin-top:70px;
    cursor: pointer;
}
@media(max-width:768px){
    .results{
        display: block;
    }
  .form-field{
    margin:auto;
  }
  .btn{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .input{
    font-size:18px;
    width:300px;
  }
  /**/
  .partner{
    display:block;
  }
  .ogov, .cgov, .oop, .cop{
    padding:10px;
}
}
